@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Inter', sans-serif;
        background-color: #030712;
        color: #f9fafb;
        margin: 0;
        overflow: hidden;
    }
}

@layer utilities {
    .font-mono {
        font-family: 'JetBrains Mono', monospace;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #111827;
    }

    ::-webkit-scrollbar-thumb {
        background: #374151;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #4b5563;
    }
}